//@theme "carbonfox-custom"
//@theme "n"

//@theme "/home/Pilgrim/.config/rofi/themes/n.rasi"

//@theme "/home/Pilgrim/.config/rofi/themes/n.rasi"

@theme "/home/Pilgrim/.config/rofi/themes/carbonfox-custom.rasi"
