* { background-color: #0d0d0d; color: #ff69b4; border-color: #1c1c1c; outline: none; }
window, dialog { background-color: #0d0d0d; }
headerbar { background-color: #0d0d0d; border-bottom: 1px solid #1c1c1c; box-shadow: none; }
headerbar button { background-color: #1c1c1c; color: #ff69b4; border: 1px solid #1c1c1c; box-shadow: none; }
button { background-color: #1c1c1c; color: #ff69b4; border: 1px solid #1c1c1c; box-shadow: none; text-shadow: none; -gtk-icon-shadow: none; }
button:hover { background-color: #ff69b4; color: #0d0d0d; box-shadow: none; }
button:active { background-color: #ee4f84; color: #0d0d0d; box-shadow: none; }
entry { background-color: #1c1c1c; color: #ff69b4; border: 1px solid #ff69b4; box-shadow: none; }
treeview { background-color: #0d0d0d; color: #ff69b4; }
treeview:selected { background-color: #ff69b4; color: #0d0d0d; }
menu, menubar { background-color: #0d0d0d; color: #ff69b4; }
menuitem:hover { background-color: #2a2a2a; color: #ff69b4; }
scrollbar { background-color: #0d0d0d; }
scrollbar slider { background-color: #1c1c1c; }
tooltip { background-color: #1c1c1c; color: #60cfe8; border: none; }
decoration { box-shadow: none; border: none; }
filechooser { background-color: #0d0d0d; }
filechooser button { background-color: #1c1c1c; color: #ff69b4; border: 1px solid #1c1c1c; box-shadow: none; }

radio, notebook > header > tabs > arrow, modelbutton.flat,
.menuitem.button.flat,
button {
    background-color: #1c1c1c;
    color: #ff69b4;
    border-color: #1c1c1c;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

radio:active, notebook > header > tabs > arrow:active, modelbutton.flat:active,
.menuitem.button.flat:active,
button:active {
    background-color: #ee4f84;
    color: #0d0d0d;
    box-shadow: none;
}
textview text selection { background-color: #ff69b4; color: #0d0d0d; }
entry selection { background-color: #ff69b4; color: #0d0d0d; }
menuitem:selected { background-color: #2a2a2a; color: #ff69b4; }
menuitem:selected { background-color: #2a2a2a; color: #ff69b4; }
selection { background-color: #ff69b4; color: #0d0d0d; }
